header{
    width: 100%;
    height: 5vh; /* Note a medida */
    /*background-color: rgb(66, 79, 90); */
    background: url('banner.png');
}

body{
    background: url('background.png');
}

.container{
  /*  border: 2px solid rgb(97, 95, 95);
    border-radius: 10px;
    width: 60%;
    min-height: 1465px; */
    
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
}
.rightContent{
    width: 69%;
    position: relative;
    /*border: 2px solid black;*/
    float: left;
    height: 100%;
    
}

.leftContent{
    width: 30% ;
    position: relative;
    
    border-radius: 12px;
    float: left;
    height: 100%;
    
    background-color: #A2B964;
}
.divReview{
        width: 47%;
        height: 100%;
        display: inline-block;
        background-color: #E8DC9B;
        margin-left: 13px;
        margin-top: 10px;
        border-radius: 40px;
}
p{
    text-align: justify;
    margin-right: 20px;;
    
}
.title{
    margin-left: 15px;
}
.text{
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width: 100%;
    border-radius: 5px;
}
.footer{
    width: 78%;
    background-color: #A2B964;
    border-radius: 10px;
    min-height: 33px;
    float: left;
    text-align: center;
    margin-top: -33px;
}
h2{
    text-align: center;;
}
.validador{
    float: right;
    margin-top: 0%;
    position: relative;
}