.header{
    width: 100%;
    min-height: 70px;
    background-image: linear-gradient(#141314,#ebe8f0,#292827);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content{
    width: 100%;
    min-height: 100%;
    background-color: antiquewhite;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(#141314,#5e5b61,#292827);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
  .img{
      width: 350px;
      height: 350px;
  }
  h1,h2{
    text-align: center;
  }
  header{
    background-image: linear-gradient(rgb(194, 167, 167),rgb(182, 206, 182));
  }
  body{
    background-color: #5e5b61;
  }
  footer{
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(48, 49, 49);
  }